<!DOCTYPE html>
<html>
<head>
  <title>Fandango</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Home", "/" %> | <%= link_to "List of Fandango Movies", "/movies" %> | <%= link_to "Chart", "/chart" %>

<%= yield %>

</body>
</html>
